# Ignorar los archivos de compilación generados por .NET
/api/obj/
/api/bin/

# También ignorar archivos de configuración y temporales
*.dll
*.exe
*.pdb
*.user
*.suo

# Visual Studio
/api/.vs
.vs/
*.user
*.suo

# VS Code
.vscode/

# Archivos binarios y temporales comunes
bin/
obj/
*.log

# Archivos de configuración innecesarios
*.dbmdl
*.userosscache
*.sln.docstates



